[location="window"].file {
    position: relative;
    display: grid;

    height: 70px; 
    width: 77px;  

    margin-left: 0.5%;
}

[location="window"].file-icon {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
}

[location="window"].file-name {
    position: absolute;
    left: 3%;
    bottom: -5%;
    width: 100%;

    font-size: 18px;
    font-weight: 100;
    font-stretch: ultra-condensed;
}