.window {
    width: 40%;
    height: 65%;

    background-color: #bebebe;

    position: absolute;
    left: 15%;
    top: 10%;
}
/* -------------------------------------------------------------- */
.titlebar {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 8%;

    /* background-color: #6c6c6c; */
    /* color: #bebebe; */
    background-color: #000080;
    color: white;
}

.titlebar-icon {
    position: absolute;
    top: 0%;
    left: 3%;

    width: 5%;
    height: 90%;
}

.titlebar-name {
    position: absolute;
    top: 0%;
    left: 4%;

    width: 25%;
    height: 90%;
}

.titlebar-buttons {
    position: absolute;
    top: 0%;
    right: 3%;

    width: 16%;
    height: 70%;
    top: 15%;
}
.titlebar-button {
    position: absolute;

    width: 27%;
    height: 80%;
    top: 10%;

    background-color: #bebebe;
}
.titlebar-symbol {
    position: absolute;

    width: 50%;
    height: 50%;
    top: 20%;
    left: 25%;
}
#min {
    right: 58%;
}
#min-symbol {
    border-bottom: 3px solid black;
}
#max {
    right: 30%;

}
#max-symbol {
    left: 20%;

    border: 1.5px solid black;
    border-top: 3px solid black;
}
#close {
    right: 0%;

}
#close-symbol {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 0%;

    font-size: 18px;
    font-weight: 600;
    color: black;
}
/* -------------------------------------------------------------- */
.navbar {
    position: absolute;
    top: 10%;
    left: 0%;

    width: 100%;
    height: 10%;

    background-color: #bebebe;
    color: black;
}
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
.display {
    display: -ms-inline-grid;
    grid-template-columns: 30% 30% 30%;

    position: absolute;
    bottom: 10%;
    left: 2%;

    width: 96%;
    height: 70%;

    background-color: white;
    color: black;
}
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    height: 10%;

    background-color: #bebebe;
    color: black;
}
/* -------------------------------------------------------------- */
