.window {
    width: 40%;
    height: 65%;

    position: absolute;
    left: 15%;
    top: 10%;
}
/* -------------------------------------------------------------- */
.titlebar {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 10%;

    background-color: #6c6c6c;
    color: #bebebe;
}

.titlebar-icon {
    position: absolute;
    top: 0%;
    left: 3%;

    width: 5%;
    height: 90%;
}

.titlebar-name {
    position: absolute;
    top: 0%;
    left: 4%;

    width: 25%;
    height: 90%;
}

.titlebar-buttons {
    position: absolute;
    top: 0%;
    right: 3%;

    width: 20%;
    height: 90%;
}
.titlebar-button {
    position: absolute;

    width: 33%;
    height: 100%;
}
#min {
    left: 0%;
}
#max {
    left: 33%;
}
#close {
    right: 0;
}
/* -------------------------------------------------------------- */
.navbar {
    position: absolute;
    top: 10%;
    left: 0%;

    width: 100%;
    height: 12%;

    background-color: #bebebe;
    color: black;
}
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
.display {
    position: absolute;
    bottom: 10%;
    left: 2%;

    width: 96%;
    height: 67%;

    background-color: white;
    color: black;
}
/* -------------------------------------------------------------- */

/* -------------------------------------------------------------- */
.footer {
    position: absolute;
    bottom: 0%;
    left: 0%;

    width: 100%;
    height: 10%;

    background-color: #bebebe;
    color: black;
}
/* -------------------------------------------------------------- */
